# Ignore all ".pyc" files created.
*.pyc

# Ignore experimental results. These shall be stored locally.
*.csv

# Any jupyter notebooks created during development will be for testing purposes. They are not relevant to the source code.
*.ipynb

# The "__init__" files are used so that Python can detect modules. No need to include it in the repository.
__init__.py